<!DOCTYPE html>
<html lang={{page.lang}}>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArchiveWeb.page</title>


    <link href="/splash-assets/bulma.min.css" rel="stylesheet"/>
    <link href="/splash-assets/fa/css/fontawesome.min.css" rel="stylesheet">
    <link href="/splash-assets/fa/css/solid.min.css" rel="stylesheet">
    <link href="/splash-assets/fa/css/brands.min.css" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/script.js"></script>
    <script defer data-domain="archiveweb.page" src="https://stats.browsertrix.com/js/script.js"></script>

</head>
<body>

    <div class="content container">
        {{ content }}
      </div>
    
</body>
</html>
