<!DOCTYPE html>
<html lang={{page.lang}}>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>archiveweb.page</title>


    <link href="/splash-assets/bulma.min.css" rel="stylesheet"/>
    <link href="/splash-assets/fa/css/fontawesome.min.css" rel="stylesheet">
    <link href="/splash-assets/fa/css/solid.min.css" rel="stylesheet">
    <link href="/splash-assets/fa/css/brands.min.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">

    <script src="/js/script.js"></script>

</head>
<body>

    <div class="content container">
        {{ content }}
      </div>
    
</body>
</html>